<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ title or "Fancy App" }}</title>
    {% include "styles.html" %}
</head>

<body>
    <header class="foreground">
        {% block header %}
            {% include "header.html" %}
        {% endblock %}
    </header>

    <main class="foreground">
        {% block content %}{% endblock %}
    </main>

    <footer class="foreground">
        {% block footer %}
            {% include "footer.html" %}
        {% endblock %}
    </footer>
</body>
</html>