{% set title="Quotes" %}

{% extends "base.html" %}

{% block content %}
    <h2>Sitat</h2>
    <p>Skriv inn sitat her</p>
    <p>Du kan også slette hvem som helst sine sitat >:)</p>
    <p>Nvm jeg fikset det :))</p>

    <form action="{{ url_for('post_quotes') }}" method="post">
        <br>
        <label for="content">Sitat</label>
        <input id="content" name="content" class="text-input" required value="{{ form.content if form }}">
        <br>
        <input type="submit" class="button">
    </form>

    {% for quote in quotes %}
        <div class="quote">
            <p>{{quote[1]}}</p>
            <p> - {{quote[2]}}</p>

            <form action="{{ url_for('delete_quotes', id=quote[0]) }}" method="post">
                {% if quote[2] == username %}
                    <input type="submit" value="Slett" class="button">
                {% endif %}
            </form>

            <form action="{{ url_for('get_quote_editor', id=quote[0]) }}" method="get">
                {% if quote[2] == username %}
                    <input type="submit" value="Rediger" class="button">
                {% endif %}
            </form>

        </div>
    {% endfor %}
{% endblock %}
