{% extends "base.html" %}

{% block content %}

    <form action="{{ url_for('post_register') }}" method="post">
        <br>
        <label for="username">Brukernavn</label>
        <input id="username" name="username" required>
        <br>
        <label for="password">Passord</label>
        <input id="password" type="password" name="password" required>
        <br>
        <label for="fornavn">Fornavn</label>
        <input id="fornavn" name="fornavn" required>
        <br>
        <label for="etternavn">Etternavn</label>
        <input id="etternavn" name="etternavn" required>
        <br>
        <input type="submit">
    </form>
    {#
        {"username":"brukernavnet",
         "password":"passordet"} -> /register POST (request.form)
    #}

{% endblock %}